<!DOCTYPE html>
<html>
<head>
    <title>Books List</title>
</head>
<body>
    <h1>Book List</h1>
    <form method="POST" action="/add_book">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="author" placeholder="Author" required>
        <button type="submit">Add Book</button>
    </form>

    <ul>
    {% for book in books %}
      <li>
        {{ book['title'] }} - {{ book['author'] }}
        {% if book['available'] %}
          <a href="/borrow/{{ book['id'] }}">Borrow</a>
        {% else %}
          <a href="/return/{{ book['id'] }}">Return</a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
</body>
</html>
