openapi: 3.0.1
info:
  title: User Service (Demo)
  version: "1.0"
servers:
  - url: http://localhost:3001
paths:
  /users:
    get:
      summary: List users (supports ?q=)
      parameters:
        - in: query
          name: q
          schema:
            type: string
      responses:
        "200":
          description: array of users
    post:
      summary: Create user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "201":
          description: created
  /users/{id}:
    get:
      summary: Get user (includes HATEOAS _links)
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: user object
    patch:
      summary: Update user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "200":
          description: updated
    delete:
      summary: Delete user
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: deleted
